/* Styles for text inputs, select elements, and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    background: #ff000035;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    color: #CCC;
    font-family: 'Lato', sans-serif;
    resize: vertical;
}

/* Styles for submit button */
input[type=submit] {
    background-color: rgba(255, 255, 255, 0.147);
    color: white;
    padding: 12px 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Lato', sans-serif;
}

/* Hover styles for submit button */
input[type=submit]:hover {
    background-color: #04AA6D;
}

/* Styles for container */
.container {
    border-radius: 5px;
    background-color: #00000000;
    padding: 20px;
    color: #CCC;
    font-family: 'Lato', sans-serif;
}

/* Styles for submit container */
.submit-container {
    text-align: center;
}

/* Styles for submit button within submit container */
.submit-button {
    padding: 10px 20px;
    margin-top: 10px;
}

/* Styles for error messages */
.error {
    color: #FF0000;
    font-size: 0.85em;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    display: block;
}

/* Styles for response messages */
.response-message {
    background-color: #04AA6D;
    color: white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}
