/* General settings for calendar content */
.fc th,
.fc td {
    color: white !important;
}

/* Black text settings for events and header items */
.fc-event .fc-title,
.fc-event {
    color: black !important;
}

/* Header styles */
.fc-toolbar {
    color: black !important;
}

/* Navigation buttons styles */
.fc-button {
    color: black !important;
    background-color: #f8f9fa !important;
    border-color: #ddd !important;
}

/* Specific style for today's date */
.fc-today .fc-day-number {
    color: black !important;
}

.content {
    background: rgba(0, 0, 0, 0.9);
}