/* Styles for carousel item images */
.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Adjust height of carousel item images */
    .carousel-item img {
        height: auto;
    }
    /* Adjust padding of carousel items */
    .carousel-item {
        padding: 5px;
    }
}

/* Styles for content container */
.content.container {
    padding-top: 15px;
    margin-top: 0;
}
